.footer {
  min-height: 100px;
  background: rgb(95, 95, 95);
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: rgb(56, 55, 55);
  color: whitesmoke;
  font-weight: bold;
}
